body { background-color: #FFFF00;
		color: #00FF00;
font-family:"Times New Roman", sans-serif; }
h1 { background-color: #FFFFFF;
font-family:Arial; color: #00FF00; }

nav a { background-color: #CCCCCC; }
	